// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

$brown: #786450;
$back-color: black;
$header-color: #5f98cd;
$menu-icon: #b2daff;
$menu-card: #43627d;
$menu-moji: #93b2cd;
$menu-card-hover: #3a516c;

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.column {
	flex-direction: column;
}

// use only the available space inside the 400x400 frame
.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 5px;
	background-color: $back-color;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	filter: contrast(20);

	// border-radius: 2px;
	// box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	// overflow: hidden;
	// font-family: 'Open Sans', Helvetica, sans-serif;
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
	// background-color: $back-color;
}


.center {
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	transition: all 0.8s ease;
	background-color: white;
	border-radius: 50%;
	position: sticky;
	filter: blur(8px);
}


.ball {
	// filter: blur(8px);
	position: absolute;
	width: var(--r);
	aspect-ratio: 1;
	animation: anime var(--speed) infinite linear;
	border-radius: 50%;
}

.ball::after {
	content: "";
	position: absolute;
	width: var(--br);
	aspect-ratio: 1;
	// background-color: white;
	background-color: red;
	border-radius: 50%;
}


@keyframes anime {
	100% {
		// rotate: 720deg;
		rotate: 360deg;
	}
}
