* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
  padding: 5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1/1;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgb(0 0 0 / 10%);
  background: #3faf82;
  overflow: hidden;
}

.frame .center {
  position: relative;
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 8px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: transform 1000ms, opacity 200ms;
}

/* 這樣就會有三條線了 */
.bar:first-of-type {
  transform: translate(-50%, -300%);
}

.bar:last-of-type {
  transform: translate(-50%, 200%);
}

.bar.active.rotate:first-of-type {
  transform: translate(-50%, -100%) rotate(135deg);
}

.bar.active.rotate:last-of-type {
  transform: translate(-50%, -100%) rotate(45deg);
}

/* 這會先讓 active 的 bar 移動。 */
.bar.active {
  transform: translate(-50%, -50%);
}

/* 這樣就會隱形了 */
.bar:nth-child(2).active {
  opacity: 0;
}
