.frame {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
	background: navy;
	background: linear-gradient(45deg, rgba(3, 3, 161, 0.952), rgb(27, 205, 232));
	font-family: 'Courier New', Courier, sans-serif;
	color: #fff;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.number {
	position: relative;
	height: 100px;
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;

	.one-one {
		/* position: absolute; */
		/* z-index: 1; */
		top: 0px;
		left: -16px;
		width: 20px;
		height: 40px;
		background: #fff;
		transform: rotate(50deg);
		box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.3);
	}

	.one-two {
		/* position: absolute; */
		/* z-index: 10; */
		top: 0px;
		left: 0px;
		width: 24px;
		height: 100px;
		background-color: #fff;
		box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.3);
	}

	.zero-one,
	.zero-two {
		/* position: absolute; */
		/* z-index: 8; */
		/* top: 0px;
		left: 17px; */
		box-sizing: border-box;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 24px solid #fff;
		box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.3);
	}

	.zero-two {
		/* left: 100px; */
		/* z-index: 6; */
	}
}

.big-text {
	position: relative;
	top: 0px;
	z-index: 20;
	display: block;
	font-size: 82px;
	line-height: 60px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 6px;
}

.small-text {
	position: relative;
	top: 0px;
	z-index: 20;
	display: block;
	font-size: 25px;
	line-height: 12px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 6px;
}
