@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #42a7a1;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 220px;
  width: 280px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.center .header {
  position: relative;
  height: 60px;
  width: 100%;
  background: #f1ba64;
  color: #fff;
}
.center .header .title {
  top: 12px;
  left: 15px;
}
.center .header .big {
  position: absolute;
  font-weight: 600;
  font-size: 14px;
}
.center .header .value {
  top: 28px;
  right: 15px;
}
.center .header .small {
  position: absolute;
  font-weight: 500;
  font-size: 11px;
}
.center .header .date {
  top: 30px;
  left: 15px;
}
.center .header .revenue {
  top: 14px;
  right: 15px;
}
.center .icon {
  text-align: right;
  padding: 10px 0 14px 0;
}
.center .icon span {
  position: relative;
  font-size: 9px;
  color: #606060;
  padding: 0 10px 0 25px;
  line-height: 13px;
}
.center .icon span:before {
  position: absolute;
  top: 6px;
  left: 6px;
  display: block;
  content: "";
  width: 11px;
  height: 3px;
  border-radius: 3px;
}
.center .icon .red:before {
  background: #fa7373;
}
.center .icon .blue:before {
  background: #7ba2ff;
}
.center .stats {
  position: relative;
  height: 81px;
  width: 260px;
  margin: 0 auto;
}
.center .stats .line-1, .center .stats .line-3, .center .stats .line-2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: #f2f2f2;
}
.center .stats .line-2 {
  top: 40px;
}
.center .stats .line-3 {
  top: inherit;
  bottom: 0;
}
.center .stats .data svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.center .stats .data polyline {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
}
.center .stats .data.red_line polyline {
  stroke: #fa7373;
}
.center .stats .data.blue_line polyline {
  stroke: #7ba2ff;
}
.center .stats .data .tooltip {
  position: absolute;
  bottom: 13px;
  left: 50%;
  transform: translate3d(-50%, 10px, 0);
  font-weight: 600;
  font-size: 11px;
  line-height: 11px;
  color: #fff;
  padding: 8px 6px;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.4s ease-out 0s, opacity 0.4s ease-out 0s;
}
.center .stats .data .tooltip:after {
  position: absolute;
  display: block;
  content: "";
  height: 6px;
  width: 6px;
  left: 50%;
  margin-left: -3px;
  bottom: -3px;
  transform: rotate(45deg);
}
.center .stats .data [class^=point-] {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  cursor: pointer;
  z-index: 10;
}
.center .stats .data [class^=point-]:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate3d(-50%, 0, 0);
}
.center .stats .data.red_line [class^=point-],
.center .stats .data.red_line .tooltip,
.center .stats .data.red_line .tooltip:after {
  background: #fa7373;
}
.center .stats .data.red_line .point-1 {
  left: 7px;
  top: 43px;
}
.center .stats .data.red_line .point-2 {
  left: 48px;
  top: 9px;
}
.center .stats .data.red_line .point-3 {
  left: 88px;
  top: 20px;
}
.center .stats .data.red_line .point-4 {
  left: 128px;
  top: 8px;
}
.center .stats .data.red_line .point-5 {
  left: 169px;
  top: 35px;
}
.center .stats .data.red_line .point-6 {
  left: 209px;
  top: 45px;
}
.center .stats .data.red_line .point-7 {
  left: 249px;
  top: 16px;
}
.center .stats .data.blue_line [class^=point-],
.center .stats .data.blue_line .tooltip,
.center .stats .data.blue_line .tooltip:after {
  background: #7ba2ff;
}
.center .stats .data.blue_line .point-1 {
  left: 7px;
  top: 58px;
}
.center .stats .data.blue_line .point-2 {
  left: 48px;
  top: 47px;
}
.center .stats .data.blue_line .point-3 {
  left: 88px;
  top: 62px;
}
.center .stats .data.blue_line .point-4 {
  left: 128px;
  top: 52px;
}
.center .stats .data.blue_line .point-5 {
  left: 169px;
  top: 58px;
}
.center .stats .data.blue_line .point-6 {
  left: 209px;
  top: 71px;
}
.center .stats .data.blue_line .point-7 {
  left: 249px;
  top: 61px;
}
.center .days {
  width: 280px;
  margin: 0 auto;
}
.center .days .day {
  display: block;
  float: left;
  width: 14.2857142857%;
  font-size: 9px;
  color: #949494;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
